default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: root123_ROOT
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: default_where_development

test:
  <<: *default
  database: default_where_test

sqlite:
  adapter: sqlite3
  database: "file:memdb1?mode=memory&cache=shared"

mysql:
  adapter: mysql2
  username: root
  password: root
  database: default_where

postgresql:
  adapter: postgresql
  username: postgres
  password:
  database: default_where
  min_messages: ERROR
